<h2>Welcome to Whosthebest, <%= @user.username %>!</h2>
<a href="<%= user_path(@conn, :show, @user.username) %>"><%= "View Profile" %></a>
<a href="<%= logout_path(@conn, :logout) %>"><%= "Logout" %></a>