<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>BLOCK GAME</title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    </head>

    <body>
        <div class="bs-docs-header">
            <div class="header">
                <a href="<%= page_path @conn, :index %>" class="page-title"><h1>BLOCK GAME</h1></a>       
            </div>

            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            
        </div>
        <div class="container" role="main" style="background: #fff;">
            <div class="row">
                <div style="">
                    <nav>
                        <ul>
                            <li><a href="<%= page_path @conn, :index %>">Home</a></li>
                            <li><a href="<%= user_path @conn, :index %>">Leaderboards</a></li>
                            <%= if @current_user do %>
                                <li><a href="<%= game_path @conn, :index %>">Play!</a></li>
                                <li><a href="<%= session_path @conn, :delete %>">Log Out</a></li>
                            <%= else %>
                                <li><a href="<%= guest_login_path @conn, :guest_login %>">Guest Login</a></li>
                                <li><a href="<%= user_path @conn, :new %>">Join/Log In</a></li>
                                <li><a href="<%= signin_path @conn, :show, 123 %>">Debug Sign-In</a></li>
                            <%= end %>
                        </ul>
                    </nav>
                    <ol class="breadcrumb text-center" style="color: #000;">
                                        <%= if @current_user do %>
                        You are logged in!
                    <% else %>
                        You are not logged in.
                    <% end %>
                        <%= if @current_user do %>
                            <%= if @conn.assigns[:remembered] do %>
                                <li style="color: red;">!!</li>
                            <% end %>
                        <% end %>
                    </ol>
                </div>
                <div class="" style="margin:50px auto; min-height: 400px;">
                    <%= render @view_module, @view_template, assigns %>
                </div>
            </div>
        </div>

    <footer class="bs-docs-footer footer">
        <div class="container">email at blockgame dot website</div>
    </footer>

        
    </body>
</html>
