<p>
    <strong>Welcome<strong> to Block Game html body!

    <br />
    Here is your login link:

    <br />
    <%= signin_url(Whosthebest.Web.Endpoint, :show, @token) %>

    <br />
    It is valid for 30 minutes.
</p>