<div class="jumbotron">
    <h2>Game <%= @last_game_id %> !</h2>
    
</div>

<script>window.userToken = "<%= assigns[:user_token] %>";</script>
<script>window.lastGameId = "<%= @last_game_id %>";</script>
<script> require("web/static/js/game_socket")</script>