<div class="jumbotron">
    <h2>Test Game!</h2>
</div>

<!-- Game canvas will be rendered here -->
<canvas id="gameCanvas" ></canvas>
<div id="gameDiv" >
    <input type="text" id="lobbyTextField" style="position:absolute;"></input>
    <div id="lobbyChat" style="position:absolute;"></div>
    <div id="lobbyUserList" style="position:absolute;"></div>
</div>

<!-- Set some variables to connect to the server -->
<script>window.userToken = "g3QAAAACZAAEZGF0YWEBZAAGc2lnbmVkbgYAXjC1VFMB--cdUaCnLaPvW4MMzz4mKvy_CNbFY=";</script>
<script>window.lastGameId = "4444";</script>

<!-- Import the game socket -->
<script> require("web/static/js/game_socket")</script>

<!-- Import the game --> 
<script src='<%= static_path(@conn, "/js/game.js") %>'>
</script>