<div class="jumbotron">
  <h2>Who's the Best?</h2>
  <p class="lead">Play this fun puzzle game to find out!</p>
  <a href="<%= guest_login_path @conn, :guest_login %>"><button type="button" class="btn btn-primary btn-lg">Play a Test Game</button></a>
</div>
